.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 550px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  font-size:20px;
}
.search::placeholder{
  font-size: 17px;
  padding-left: 10px;
}
